<div class="p-30">

    <div class="form-group row mb-3">
        <label for="" class="col-sm-3 col-form-label">Message</label>
        <div  class="col-sm-9">
            <textarea type="text" 
            value="" 
            formControlName="testing" 
            class="form-control"
          ></textarea>
        </div>                                       
    </div>

    <div class="form-group row mb-3">
        <label for="" class="col-sm-3 col-form-label">Visibility</label>
        <div  class="col-sm-9">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Public</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Confidential</label>
              </div>
        </div>                                       
    </div>


    <div class="form-group row mb-3">
        <label for="" class="col-sm-3 col-form-label">Notes</label>
        <div  class="col-sm-9 row">
            <div class="form-group mb-3 col-sm-4">
                <label for="" class="col-sm-12 col-form-label">System Notes</label>
                <div  class="col-sm-9">
                    <select class="selectpicker">
                        <option>Select System Notes</option>
                        <option>System Notes</option>
                        <option>System Notes</option>
                        <option>System Notes</option>
                        <option>System Notes</option>
                    </select>
                </div>                                       
            </div>
            <div class="form-group col-sm-6 mb-3">
                <label for="" class="col-sm-12 col-form-label">Note Type</label>
                <div  class="col-sm-9">
                    <select class="selectpicker">
                        <option>Select Notes Note</option>
                        <option>Notes Note</option>
                        <option>Notes Note</option>
                        <option>Notes Note</option>
                        <option>Notes Note</option>
                    </select>
                </div>                                       
            </div>
        </div>                                       
    </div>

    <div class="form-group row mb-3">
        <label for="" class="col-sm-3 col-form-label">Other</label>
        <div  class="col-sm-9 row">
            <div class="form-group mb-3 col-sm-4">
                <label for="" class="col-sm-12 col-form-label">Call Log</label>
                <div  class="col-sm-9">
                    <select class="selectpicker">
                        <option>Select System Notes</option>
                        <option>System Notes</option>
                        <option>System Notes</option>
                        <option>System Notes</option>
                        <option>System Notes</option>
                    </select>
                </div>                                       
            </div>
            <div class="form-group col-sm-4 mb-3">
                <label for="" class="col-sm-12 col-form-label">Shaw Online Visibility</label>
                <div  class="col-sm-9">
                    <select class="selectpicker">
                        <option>Select Notes Note</option>
                        <option>Notes Note</option>
                        <option>Notes Note</option>
                        <option>Notes Note</option>
                        <option>Notes Note</option>
                    </select>
                </div>                                       
            </div>

            <div class="form-group col-sm-4 mb-3">
                <label for="" class="col-sm-12 col-form-label">Claims Trace Date</label>
                <div  class="col-sm-9">
                    <div class="position-relative">
                        <input
                          type="text"
                          class="form-control"
                          value="DD-MM-YYYY"
                        />
                        <span class="datepicker">
                          <i class="fa-regular fa-calendar-days"></i>
                        </span>
                      </div>
                </div>                                       
            </div>
        </div>                                       
    </div>
<div class="add-task-pane">
    <button type="button" class="d-sm-inline-block btn btn-sm btn-secondary"> Cancel</button>
    <button type="button" class="d-sm-inline-block btn btn-sm btn-secondary"> Reset</button>
    <button type="button" class="d-sm-inline-block btn btn-sm btn-primary"> Add</button>
</div>
</div>