.datepicker {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 3px;
    margin-top: 0;
    color: #5d87ff;
    font-size: 18px;
}

.search-new-1 .fa-search{
    position: absolute;
    top: 8px;
    left: auto;
    right: 15px;
    font-size: 16px;
    color: var(--primary);
}