<div class="container-fluid mt-2">
    <div class="card copy-right p-2 footer">
        <div class="row">
            <div class="col-12 col-lg-6 text-center text-lg-start">
                © {{ currentYear }} <a href="#">Shaw Industries Group, Inc.</a>, a Berkshire Hathaway Company
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end mt-3 mt-lg-0">
                <a href="https://htmlcodex.com">Privacy Policy | Terms & Conditions</a>
            </div>
        </div>
    </div>
</div>