<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">Process</th>
                <th scope="col" class="text-center">Plant</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of mfgProductionRoutingData">
                <td class="text-uppercase text-center">{{ data.process }}</td>
                <td class="text-uppercase text-center">
                    <a href="">{{ data.plant }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>