table a {
    color: #5d87ff;
    text-decoration: none;
}

.w-250{
    width: 250px;
}

.top-field p{
    font-size: 14px ;
}

.top-field .form-group p{
    font-size: 13px ;
}

.datepicker {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 3px;
    margin-top: 0px;
    color: #5d87ff;
    font-size: 19px;
  }

  .pr-0{
    padding-right: 0px !important;
  }