.matrix-table td, .matrix-table th {
    padding: 10px;
}
.matrix-table input {
    
    text-align: center;
}

.mb-new{margin-bottom: 5px;}

.per-page-select-style{margin-right: 20px; min-width: 80px;}

.per-page-style{white-space: nowrap; padding-right: 10px; margin-right: 10px;}

.new-border-style{border-bottom: 1px solid var(--primary);margin-bottom: 20px;padding-bottom: 12px;}

.arrow-left-style{font-size: 24px; margin-right: 15px; color: #0b5ed7; cursor: pointer;}

.stepper-body {
    height: 100vh;
}
.mat-mdc-form-field-subscript-wrapper
    {
        display: none !important;
    }

    .permission-container {
        display: flex;
        flex-wrap: nowrap; /* Prevent wrapping to the next line */
      }
      
      mat-chip {
        margin-right: 10px; /* Add spacing between elements */
}
.search-input {
    max-width: none;
    width:100%;
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 6px;
    /* You can adjust this value as needed */
  }

  .btn-view
      {
        background-color: #fff;
    color: rgb(93, 135, 255);
    display: inline-block;
    border-radius: 16px;
    font-family: Roboto, sans-serif;
    line-height: 32px;
    padding: 0 15px;
    border: 1px solid rgb(93, 135, 255);
    font-weight: 500;
    cursor: pointer;
    font-size: 12px !important;
      }

      #editModelLabel span{
        text-transform: uppercase !important;
       }   