<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<div class="body" [ngClass]="getBodyClass()">
    <app-header fetchClaimDetails="fetchClaimDetails(claimNumber)"></app-header>
    <div class="main pb-4">
        <div class="container-fluid">
            <div class="row mt-2 mb-2">
              <div class="d-flex align-items-center justify-content-between">
                <h4>Roll History #DK71898</h4>
                <button type="button" class="btn-primary mx-3" >Print</button>
              </div>
                <div class="col-12 mt-2 mb-3">
                    <h6 class="mb-3">Claim Information</h6>
                    <div class="row">

                    <div class="col-6">
                      <div class="form-group row mb-2">
                          <label for="" class="col-sm-4 col-form-label  py-0">Claim no.</label>
                          <div  class="col-sm-8">
                            <p class="mb-0">938255</p>
                          </div>                                       
                      </div>
                    </div>
                   
                    <div class="col-6">
                        <div class="form-group row mb-2">
                            <label for="" class="col-sm-4 col-form-label  py-0">Customer no.</label>
                            <div  class="col-sm-8">
                              <p class="mb-0">0058283</p>
                            </div>                                       
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group row mb-2">
                            <label for="" class="col-sm-4 col-form-label  py-0">Claim Initiation Date</label>
                            <div  class="col-sm-8">
                              <p class="mb-0">08/25/2010</p>
                            </div>                                       
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group row mb-2">
                            <label for="" class="col-sm-4 col-form-label  py-0">Customer Name</label>
                            <div  class="col-sm-8">
                              <p class="mb-0 text-uppercase">Glanz industries inc</p>
                            </div>                                       
                        </div>
                      </div>

                </div>
</div>
<div class="col-12 mt-3 mb-3">
  <div class="d-flex align-items-center justify-content-between mb-3">
  <h6 class="mb-0">View Roll Information</h6>
  <div class="d-flex align-items-center justify-content-between">
  <button type="button" class="btn-primary mx-3" >View Roll Lineage</button>
  <button type="button" class="btn-secondary mx-3" >Seconds Rate Report</button>
</div>
</div>

  <div class="row mb-3">
  <div class="col-6">
    <div class="form-group row mb-2">
        <label for="" class="col-sm-4 col-form-label  py-0">Parent Roll</label>
        <div  class="col-sm-8">
          <a href="" class="">I170436</a>
        </div>                                       
    </div>
  </div>
 
  <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Time Stamp</label>
          <div  class="col-sm-8">
            <p class="mb-0">2010-06-14 13:53:56.201899</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Claim Initiation Date</label>
          <div  class="col-sm-8">
            <p class="mb-0">08/25/2010</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Mfg. Style</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">24QQ8</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Mfg. Color</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">49182</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Shop Order</label>
          <div  class="col-sm-8">
            <a href="" class="">U7255</a>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Width</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">12'0"</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Location </label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">01 - Dalton</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Plant</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">DL</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Grade</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">A</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Cut Code</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">B</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Yarn Lot</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">NA835R20</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Inventory Status</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">Shipped</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Order Nbr</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">710510</p>
          </div>                                       
      </div>
    </div>

    <div class="col-6">
      <div class="form-group row mb-2">
          <label for="" class="col-sm-4 col-form-label  py-0">Customer Nbr</label>
          <div  class="col-sm-8">
            <p class="mb-0 text-uppercase">0058283</p>
          </div>                                       
      </div>
    </div>

</div>


</div>

<div class="col-12 mt-2 mb-3">
  <h6 class="mb-3">Child Rolls</h6>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Roll Nbr</th>
          <th scope="col">Plant</th>
          <th scope="col">Cut Length</th>
          <th scope="col">Cut Width</th>
          <th scope="col">Customer Nbr</th>
          <th scope="col">Credit Memo Nbr</th>
          <th scope="col">Issued Date</th>
          <th scope="col">Credit Memo Line</th>
          <th scope="col">Reason Code</th>
        </tr>
      </thead>
      <tbody >
        <tr class="d-none">
          <td colspan="9">
            <p class="text-center fw-semibold">No Child Rolls</p>
          </td>
        </tr>
     <tr>
      <td><a href="">ZJ09778</a></td>
      <td>47</td>
      <td>1164</td>
      <td>180</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     </tr>
      </tbody>
    </table>
  </div>
</div>

</div>

</div>
<app-footer></app-footer>
</div>
</div>

