.p-tree{
    border: none !important;
}
.p-tree-container{
    padding-top: 2rem !important;
}
.p-element .p-tree{
    padding: 20px;
}
.btn-tree-pane {
    text-align: right;
}
.btn-tree-pane .btn{
    margin: 10px;
}
.tree-container,.card.Menu-info{
    min-height: 300px;
}