.mb-new-5{margin-bottom: 5px;}

.pb-40{padding-bottom: 40px;}

.right-border{border-right: 1px solid #00314680;}

.ml-5vw{margin-left: 5vw;}

.fs-20 {font-size: 20px;}

.fs-17 {font-size: 17px;}

.p-10{padding: 10px;}

.per-page-select-style{margin-right: 20px; min-width: 80px;}

.arrow-left-style{font-size: 24px; margin-right: 15px; color: #0b5ed7;cursor: pointer;}

.pagination-top{border-bottom: 1px solid var(--primary);margin-bottom: 20px;padding-bottom: 12px;}

.fs-1rem{font-size: 1rem;}

.per-page-style{padding-right: 10px; margin-right: 10px;}

.back-btn-border{border-bottom: 1px solid var(--primary); padding-bottom: 10px;}

.color-red{color: red;}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  .form-control{
    width:37%
  }
  .button-space{
    margin-right: 2%;
  }
  

  