
<div class="container">
    <div class="row mb-3 audit-history-main px-2 py-3">
    <div class="top-section d-flex justify-content-between">
    <span class="badge-task">User name</span>
    <div class="right-side">
        <span class="date-of-note">MM/DD/YYYY</span>
        &nbsp;&nbsp;
        <span class="timestamp-note">HH:MM</span>
    </div>
    </div>
<div class="notes-section">
    <p class="my-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsum officia culpa iusto vero, cumque dolorem aliquid accusantium impedit alias quis dolor aut ipsam suscipit nostrum! Tempora recusandae ut quisquam?
    </p>
</div>
</div>
</div>