<div class="modal modal-bg d-block" id="CarpetInventoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title p-0">Carpet Inventory Summary</h4>
                <button type="button" class="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="row my-2">
                    <div class="col-12">
                        <p class="mb-3 fw-semibold">Claim Information</p>
                    </div>
                    <div  class="col-12 col-xxl-6 text-start mb-4 mb-xxl-0">
                        <div  class="d-flex align-items-start gap-3 flex-wrap flex-xl-nowrap">
                            <div  class=" w-100">
                                <h5  class="mb-2">Claim No. :   <span class="fw-normal">139161</span></h5>
                                <h5  class="mb-2">Claim Initiation Date :   <span class="fw-normal" >11/18/2011</span></h5>
                            </div>
                            <div  class=" w-100">
                                <h5  class="mb-2">Customer No. :   <span class="fw-normal">0206212</span></h5>
                                <h5  class="mb-2">Customer Name :   <span class="fw-normal">PALM HARBOR HOMES, INC. (DE)</span></h5>
                            </div>
                               </div>
                            </div>
                            <hr>
                </div>
                <form class="mt-4">
                    <p class="mb-3 fw-semibold">View Inventory</p>                      
                      <div class="row">
                        <div  class="col-12 col-xxl-6 text-start mb-4 mb-xxl-0">
                            <div  class="d-flex align-items-start gap-3 flex-wrap flex-xl-nowrap">
                                <div  class="w-100">
                                    <h5  class="mb-2 d-flex align-items-center ">Style Number : &nbsp; <input class="form-control w-50" type="text">&nbsp; <span class="fw-normal">LIVE WIRE || 15.3</span></h5>
                                    <h5  class="mb-2">Manufacturing Style :   <span class="fw-normal">MA223</span></h5>
                                    <h5  class="mb-2">Standard Roll Length :   <span class="fw-normal" >250 ft.</span></h5>
                                    <h5  class="mb-2">Dye Run :   <span class="fw-normal">4500</span></h5>
                                    <h5  class="mb-2">Selling Company :   <span class="fw-normal">17, SPECIALITY MARKETS</span></h5>
                                    <h5  class="mb-2">Product Type :   <span class="fw-normal" >11 - MANUFACTURED HOUSING</span></h5>
                                    <h5  class="mb-2">Collection Description :   <span class="fw-normal" > </span></h5>
                                    <h5  class="mb-2">ATS Date :   <span class="fw-normal" > </span></h5>
                                </div>
                                <div  class="w-100">
                                    <h5  class="mb-2 d-flex align-items-center">Color Number :  
                                        <select class="form-select w-50"><option>00702 (00702) - BROWNWOOD - A</option></select>
                                    &nbsp;&nbsp;
                                    <select class="form-select w-50"><option>**SELECT LOCATION**</option></select>
                                    </h5>
                                    <h5  class="mb-2">Manufacturing Color :   <span class="fw-normal">00702</span></h5>
                                    <h5  class="mb-2">Backorder Total :   <span class="fw-normal"> </span></h5>
                                    <h5  class="mb-2">Standard Lead Time :   <span class="fw-normal"> </span></h5>
                                    <h5  class="mb-2">Status :   <span class="fw-normal">ACTIVE</span></h5>
                                    <h5  class="mb-2 d-flex align-items-center">Ref Number :&nbsp;  <input type="text" class="form-control w-50">&nbsp; <span class="fw-normal"> - SHAW</span></h5>
                                    <h5  class="mb-2">Manufacturing Location :   <span class="fw-normal">EAST</span></h5>
                                </div>
                                   </div>
                                </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="button" class="btn btn-primary mx-2" >
                                Go
                            </button>
                            <button type="button" class="btn btn-secondary" >
                                Reset
                            </button>
                        </div>
                    </div>
                    <hr>
                </form>
                <div class="row my-2">
                    <div class="col-12">
                        <p class="mb-3 fw-semibold">Inventory Detail</p>
                         <div class="table-responsive">
                            <table class="table table-striped table-hover add-edit-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Plant</th>
                                        <th scope="col">Roll Code</th>
                                        <th scope="col">Width</th>
                                        <th scope="col">Length</th>
                                        <th scope="col">Roll Number</th>
                                        <th scope="col">Dyelot</th>
                                        <th scope="col">Grp</th>
                                        <th scope="col">Finish Date</th>
                                        <th scope="col">Rack Location</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>DL</td>
                                        <td>M</td> 
                                        <td>1503</td> 
                                        <td>801</td> 
                                        <td>902130A</td>
                                        <td>Z94421</td>
                                        <td>08</td>
                                        <td>08/27/11</td>
                                        <td>2919F</td>
                                        <td> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer mt-4">
                <div class="row">
                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-secondary" >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>