.ml-10{
    margin-left: 10px;
}

.last-td{
    white-space: break-spaces;
}

@media (min-width:768px){
.icons-first-column{
    white-space: nowrap !important;
}}
.note-temp-manadatory{
    position: absolute;
    left: 15px;
    top: 0;
}
.modal-footer{
    position:relative;
}
