<div class="col-12 mt-2 mb-3">
  <h6 class="mb-3">Claim Information</h6>
  <div class="row">

        <div class="col-6">
              <div class="form-group row mb-2">
                    <label for="" class="col-sm-4 col-form-label  py-0">Claim no.</label>
                    <div class="col-sm-8">
                          <p class="mb-0">{{ claimData?.claimNo }}</p>
                    </div>
              </div>
        </div>

        <div class="col-6">
              <div class="form-group row mb-2">
                    <label for="" class="col-sm-4 col-form-label  py-0">Customer no.</label>
                    <div class="col-sm-8">
                          <p class="mb-0">{{ claimData?.customerNo }}</p>
                    </div>
              </div>
        </div>

        <div class="col-6">
              <div class="form-group row mb-2">
                    <label for="" class="col-sm-4 col-form-label  py-0">Claim Initiation Date</label>
                    <div class="col-sm-8">
                          <p class="mb-0">{{ claimData?.claimInitiationDate }}</p>
                    </div>
              </div>
        </div>

        <div class="col-6">
              <div class="form-group row mb-2">
                    <label for="" class="col-sm-4 col-form-label  py-0">Customer Name</label>
                    <div class="col-sm-8">
                          <p class="mb-0 text-uppercase">{{ claimData?.customerName }}</p>
                    </div>
              </div>
        </div>

  </div>
</div>