<div class="row mb-3">

    <div class="col-lg-3">

        <select  class="form-select form-control" (change)="getManagerList()" [(ngModel)]="selectedGroup">

            <option *ngFor="let user of userGroupList" [value]="user.userGroupId"> {{ user.userGroupDescription }} </option>

        </select>

    </div>

    <div class="col-lg-3">

        <select  class="form-select form-control ">

            <option value="">{{ selectedManager }}</option>

            <option *ngFor="let manager of managerGroupList" [value]="manager"> {{ manager.firstName +" "+manager.lastName}} </option>

        </select>

    </div>

    <div class="col-lg-3">

        <button type="button" class="btn btn-sm btn-primary"> My Work Queue </button>

    </div>

    <app-work-queue-fieldchooser class="col-lg-3"></app-work-queue-fieldchooser>

</div>