<div class="text-end">
    <button type="button" data-bs-toggle="modal" data-bs-target="#FieldChooser" class="btn btn-sm btn-primary"> Field Chooser </button>
</div>
<div class="modal modal-bg" id="FieldChooser" tabindex="-1" role="dialog" aria-labelledby="FieldChooserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header" style="justify-content: flex-end;">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    <!-- <span aria-hidden="true">&times;</span> -->
    </button>
    </div>
    <div class="modal-body">
    <h5>Column Options</h5>
    <p>Add or remove columns. To change the column order, drag and drop a field, or use the 
            keyboard shortcuts, Ctrl + Up or Crtl + Down.</p>
    <div class="recipe">
    <div class="recipe__ingredients">
    <table cellpadding="0" cellspacing="0" border="0" class="recipe-table" id="recipeTable">
    <tbody id="recipeTableBody">
    <tr>
    <td></td>
    <td class="recipe-table__cell">
    <select class="custom-select custom-select-sm form-select form-control form-control-sm per-page-select-style ">
    <option>User </option>
    <option>Work Status </option>
    <option>Claim Status </option>
    <option>Claim No. </option>
    <option>Age </option>
    <option>Last Activity Date </option>
    <option>Amount </option>
    <option>Reason Code </option>
    <option >RGA </option>
    <option >Insp Report Date </option>
    <option >Trace Date </option>
    <option >Selco </option>
    <option >TM </option>
    <option >Customer No. </option>
    <option >Customer Name </option>
    <option >State </option>
    <option >Route Date </option>
    <option >Review By </option>
    </select>
    </td>
    <td class="recipe-table__cell">
    <button class="recipe-table__del-row-btn">x</button>
    </td>
    </tr>
    <tr>
    <td></td>
    <td class="recipe-table__cell">
    <select class="custom-select custom-select-sm form-select form-control form-control-sm per-page-select-style ">
     
                  <option>Work Status </option>
    <option>Claim Status </option>
    <option>Claim No. </option>
    <option>Age </option>
    <option>Last Activity Date </option>
    <option>Amount </option>
    <option>Reason Code </option>
    <option >RGA </option>
    <option >Insp Report Date </option>
    <option >Trace Date </option>
    <option >Selco </option>
    <option >TM </option>
    <option >Customer No. </option>
    <option >Customer Name </option>
    <option >State </option>
    <option >Route Date </option>
    <option >Review By </option>
    </select>
    </td>
    <td class="recipe-table__cell">
    <button class="recipe-table__del-row-btn">x</button>
    </td>
    </tr>
    <tr>
    <td></td>
    <td class="recipe-table__cell">
    <select class="custom-select custom-select-sm form-select form-control form-control-sm per-page-select-style ">
     
                  <option>Claim Status </option>
    <option>Claim No. </option>
    <option>Age </option>
    <option>Last Activity Date </option>
    <option>Amount </option>
    <option>Reason Code </option>
    <option >RGA </option>
    <option >Insp Report Date </option>
    <option >Trace Date </option>
    <option >Selco </option>
    <option >TM </option>
    <option >Customer No. </option>
    <option >Customer Name </option>
    <option >State </option>
    <option >Route Date </option>
    <option >Review By </option>
    </select>
    </td>
    <td class="recipe-table__cell">
    <button class="recipe-table__del-row-btn">x</button>
    </td>
    </tr>
     
            <tr>
    <td></td>
    <td class="recipe-table__cell">
    <select class="custom-select custom-select-sm form-select form-control form-control-sm per-page-select-style ">
     
     
                  <option>Claim No. </option>
    <option>Age </option>
    <option>Last Activity Date </option>
    <option>Amount </option>
    <option>Reason Code </option>
    <option >RGA </option>
    <option >Insp Report Date </option>
    <option >Trace Date </option>
    <option >Selco </option>
    <option >TM </option>
    <option >Customer No. </option>
    <option >Customer Name </option>
    <option >State </option>
    <option >Route Date </option>
    <option >Review By </option>
    </select>
    </td>
    <td class="recipe-table__cell">
    <button class="recipe-table__del-row-btn">x</button>
    </td>
    </tr>
    <tr>
    <td class="drag-handler"></td>
    <td class="recipe-table__cell">
    <select class="custom-select custom-select-sm form-select form-control form-control-sm per-page-select-style ">
    <option>Age </option>
    <option>Last Activity Date </option>
    <option>Amount </option>
    <option>Reason Code </option>
    <option >RGA </option>
    <option >Insp Report Date </option>
    <option >Trace Date </option>
    <option >Selco </option>
    <option >TM </option>
    <option >Customer No. </option>
    <option >Customer Name </option>
    <option >State </option>
    <option >Route Date </option>
    <option >Review By </option>
    </select>
    </td>
    <td class="recipe-table__cell">
    <button class="recipe-table__del-row-btn">x</button>
    </td>
    </tr>
     
            <tr>
    <td ></td>
    <td class="recipe-table__cell">
    <select class="custom-select custom-select-sm form-select form-control form-control-sm per-page-select-style ">
    <option>Last Activity Date </option>
    <option>Amount </option>
    <option>Reason Code </option>
    <option >RGA </option>
    <option >Insp Report Date </option>
    <option >Trace Date </option>
    <option >Selco </option>
    <option >TM </option>
    <option >Customer No. </option>
    <option >Customer Name </option>
    <option >State </option>
    <option >Route Date </option>
    <option >Review By </option>
    </select>
    </td>
    <td class="recipe-table__cell">
    <button class="recipe-table__del-row-btn">x</button>
    </td>
    </tr>
    </tbody>
    </table>
    <div class="recipe-table__add-row">
    <span class="recipe-table__add-row-btn">+ Add Column</span>
    </div>
    </div>
    </div>
    <script id="rowTemplate" type="text/template">
    <tr>
    <td></td>
    <td class="recipe-table__cell">
    <select class="custom-select custom-select-sm form-select form-control form-control-sm per-page-select-style ">
    <option>User </option>
    <option>Work Status </option>
    <option>Claim Status </option>
    <option>Claim No. </option>
    <option>Age </option>
    <option>Last Activity Date </option>
    <option>Amount </option>
    <option>Reason Code </option>
    <option >RGA </option>
    <option >Insp Report Date </option>
    <option >Trace Date </option>
    <option >Selco </option>
    <option >TM </option>
    <option >Customer No. </option>
    <option >Customer Name </option>
    <option >State </option>
    <option >Route Date </option>
    <option >Review By </option>
    </select>
    </td>
    <td class="recipe-table__cell">
    <button class="recipe-table__del-row-btn">x</button>
    </td>
    </tr>
    </script>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary">Ok</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
    </div>
    </div>
    </div>