
<!-- <div class="modal-body"> -->
    <div class="row my-2">
        <div class="col-12">
            <!-- <h5 class="mb-3">Enter Line Information</h5> -->
            <div class="table-responsive">
              <form [formGroup]="editLineForm">
                <table class="table table-striped table-hover add-edit-table min-padding-table">
                  <thead>
                    <tr class="text-center">
                      <th class="table-header-bg" colspan="18"><h6>Lines to Edit</h6></th>
                    </tr>
                    <tr>
                      <th scope="col" style="width: 60px;">Inv/Clm</th>
                      <th scope="col" style="width: 60px;">Status</th>
                      <th scope="col" style="width: 60px;">Line Cat.</th>
                      <th scope="col" style="width: 60px;">Reason Code</th>
                      <th scope="col" style="width: 40px;">Style</th>
                      <th scope="col" style="width: 65px;">Color</th>
                      <th scope="col" style="width: 50px;">Roll</th>
                      <th scope="col" style="width: 65px;">Lot</th>
                      <th scope="col" style="width: 64px;">Line Type</th>
                      <th scope="col" style="width: 50px;">Grade</th>
                      <th scope="col" colspan="2" style="width: 100px;">Width</th>
                      <!-- class="new-100-wd" -->
                      <th scope="col" colspan="2" style="width: 100px;" >Length</th>
                      <th scope="col" style="width: 82px;">Qty</th>
                      <th scope="col" style="width: 82px;" class="new-100-wd">UOM</th>
                      <th scope="col" style="width: 70px;">Price</th>
                      <th scope="col" style="width: 100px;">Amount</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="lines">
                    <tr *ngFor="let line of lines.controls; let i = index" [formGroupName]="i">
                      <td>
                        <span *ngIf="line.get('invoiceLineNumber')?.value == 0">
                          {{ '000' }}/{{ '00' + (line.get('lineNumber')?.value || '') }}
                        </span>
                        <span *ngIf="line.get('invoiceLineNumber')?.value != 0">
                          {{ '00' + (line.get('invoiceLineNumber')?.value || '') }}/{{ '00' + (line.get('lineNumber')?.value || '') }}
                        </span>
                      </td>
                      <td><span>{{ line.get('status')?.value }}</span></td>
                      <td><span>{{ line.get('claimCat')?.value }}</span></td>
                      <!-- <td><input type="text" class="form-control" formControlName="reasonCode"></td> -->
                      <td class="position-relative reasoncode-select" id="reasonCode">
                        <mat-form-field>
                          <mat-select
                            formControlName="reasonCode"
                            (selectionChange)="validateSelection($event)"
                           
                            (openedChange)="filterClaims()"
                          >
                            <!-- Search Input -->
                            <mat-option class="search-new-option">
                              <mat-form-field>
                                <div style="display: flex; align-items: center;">
                                  <mat-icon>search</mat-icon>
                                  <input
                                    matInput
                                    placeholder="Search..."
                                    [value]="codeSearch"
                                    (input)="onSearchInput($event)"
                                    autocomplete="off"
                                    (click)="$event.stopPropagation()"
                                    style="flex: 1; border: none; padding-left: 8px;"
                                  />
                                </div>
                              </mat-form-field>
                            </mat-option>
                      
                            <!-- Filtered Options -->
                            <ng-container *ngFor="let claim of filteredClaimList">
                              <mat-option
                                *ngIf="claim.claimReasonCode && claim.claimReasonDescription"
                                [value]="claim.claimReasonCode"
                              >
                                {{ claim.claimReasonCode + ' - ' + claim.claimReasonDescription }}
                              </mat-option>
                            </ng-container>
                      
                            <!-- Special Option -->
                            <mat-option
                              *ngIf="claimDetails.claimReasonDefinition?.claimReasonCode && claimDetails.claimReasonDescription"
                              [value]="claimDetails.claimReasonDefinition.claimReasonCode"
                            >
                              {{
                                claimDetails.claimReasonDefinition.claimReasonCode +
                                ' - ' +
                                claimDetails.claimReasonDescription
                              }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td><input type="text" class="form-control" formControlName="style"></td>
                      <td><input type="text" class="form-control" formControlName="color"></td>
                      <td><input type="text" class="form-control" formControlName="roll"></td>
                      <td><input type="text" class="form-control" formControlName="dyeLot"></td>
                      <td><input type="text" placeholder="TBD" class="form-control"></td>
                      <td><input type="text" class="form-control" formControlName="grade"></td>
                      <td>
                        <input type="text" class="form-control text-end" formControlName="widthinfeet">
                       
                      </td>
                      <td>
                        <input type="text" class="form-control text-end" formControlName="widthInInches">
                      </td>
                      <!-- <td class="p-0"></td> -->
                      <td>
                        <input type="text" class="form-control text-end" formControlName="lengthinfeet">
                      </td>
                      <td>
                        <input type="text" class="form-control text-end" formControlName="lengthInInches">
                      </td>
                      <td><input type="text" class="form-control text-end" formControlName="qty" (input)="onQtyOrPriceChange(i)"></td>
                      <td>
                        <select class="form-select form-control" formControlName="uom">
                          <option *ngFor="let data of unitOfmeasure" [value]="data.unitOfMeasureCode">
                            {{ data.unitOfMeasureCode }}
                          </option>
                        </select>
                      </td>
                      <td><input type="text" class="form-control text-end" formControlName="price" (input)="onQtyOrPriceChange(i)"></td>
                      <td><input type="text" class="form-control text-end" formControlName="amount" (input)="onAmountChange(i)"></td>
                      <!-- <td><input type="text" class="form-control text-end" formControlName="amount" (input)="onAmountChange()"></td> -->
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 text-end">
          <button type="button" class="btn btn-primary" (click)="editLine()">
            Update detail line
        </button>
            <!-- <button type="button" class="btn btn-primary" (click)="editLine()" [disabled]="addeditLinebtn">
                Update detail line
            </button> -->
        </div>
    </div>
  
 