.mt-30{
    margin-top: 30px;
}
.px-20{
    padding: 10px;
    margin-bottom: 20px;
}
.ml-10{
    margin-left: 10px;
}

.procedure-manual{  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/* display: block; */}

.w-75{
width:75px !important;}

.w-500{
    width:500px !important;}

.w-200{
width:180px !important;}

.w-300{
    width:300px !important;}